.header {
    background: linear-gradient(to left, black 20%, #fdd100 80%);
    width: 100%;
    height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    padding: 2vh 0vh;
    animation: pulse 1.5s;
    position: fixed;
    transition: top 0.5s ease-in-out;
    opacity: 90%;
    z-index: 1;
    box-shadow: 4px 4px 10px black, -4px -4px 10px black;
    &__logoContainer {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &__logo {
            width: 100%;
            height: auto;
            @include disfc;
            &__prop {
                width: 25%;
            }
        }
    }
    &__menuContainer {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        &__menu {
            width: 100%;
            height: auto;
            @include disfc;
            grid-column: 2/3;
            gap: 2vh;
            &__item {
                font-size: 18px;
                color: white;
                &:hover {
                    color: #fdd100;
                    cursor: pointer;
                }
            }
        }
    }
}
.headerMobile {
    display: none;
}
.menuOptionsContainer {
    display: none;
}

@media (max-width: 480px) {
.header {
    display: none;
}
.headerMobile {
    background: linear-gradient(to left, black 2%, #fdd100 98%);
    width: 100%;
    height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    position: fixed;
    opacity: 90%;   
    animation: pulse 1.5s;
    transition: top 0.5s ease-in-out;
    box-shadow: 4px 4px 10px black, -4px -4px 10px black;
    &__logo {
        width: 100%;
        height: auto;
        @include disfc;
        &__prop {
            width: 60%;
        }
    }
    &__menu {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        gap: 1vh;
        &__linea {
            width: 25%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 1vh;
            &__prop {
                background-color: white;
                width: 100%;
                height: 0.5vh;
                border-radius: 1vh;
            }
        }
    }
}
.menuOptionsContainer {
    background-color: black;
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    margin-top: 12vh;
    border-top-left-radius: 20%;
    padding: 4vh 0vh;
    z-index: 1;
    opacity: 95%;
    &__closeW {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: end;
        &__x {
            font-size: 20px;
            padding-right: 2vh;
            color: white;
        }
    }
    &__options {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        &__option {
            color: white;
            padding-left: 2vh;
            &:hover {
                color: #fdd100;
            }
        }
    }
}
}