* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #e6e6ee;
}

@mixin disfc {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* transiciones */

.fade-in {
    transform: translateY(10px);
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
.slide-in-left {
    transform: translateX(-100%);
}
.slide-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}
.zoom-in {
    transform: scale(0.5);
}
.zoom-in.visible {
    opacity: 1;
    transform: scale(1);
}
.rotate {
    transform: rotate(-90deg);
}
.rotate.visible {
    opacity: 1;
    transform: rotate(0deg);
}

/* transiciones */

.simpleSeparatorContainer {
    background-color: #e6e6ee;
    width: 100%;
    height: auto;
    @include disfc();
    &__simpleSeparator {
        width: 80%;
        border-top: 0.5vh solid black;
        border-radius: 50%;
    }
}

.emptySpace {
    background-color: #e6e6ee;
    width: 100%;
    height: 1vh;
}






.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 16vh;
    &__homeContainerMobile {
        display: none;
    }
    &__homeContainer {
        background-image: url('../img/girlrs1.jpg');
        background-size: cover;
        width: 100%;
        height: auto;
        padding: 10vh 0vh;
        &__phraseContainer {
            background: linear-gradient(to right, #fdd100 20%, black 80%);
            width: 50%;
            height: auto;
            @include disfc();
            border-top-right-radius: 5vh;
            border-bottom-right-radius: 5vh;
            margin: 8vh 0vh 0vh 0vh;
            padding: 6vh 0vh;
            &__subPhraseContainer {
                background-color: black ;
                width: 60%;
                height: auto;
                @include disfc();
                border-radius: 5vh;
                opacity: 70%;
                padding: 4vh;
                &__phrase {
                    width: 100%;
                    padding: 2vh;
                    font-size: 30px;
                    text-align: justify;
                    color: white;
                    opacity: 0;
                    transition: all 1s ease;
                }

            }
        }
    }
    &__aboutContainer {
        background: linear-gradient(to left, #b7b7be 10%, black 90%);
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 3fr 2fr;
        box-shadow: 4px 4px 10px #fdd100, -4px -4px 10px black;
        padding: 10vh 0vh;
        &__textContainer {
            width: 100%;
            height: auto;
            @include disfc();
            border-right: 0.3vh solid black;
            &__text {
                background-color: #b7b7be;
                width: 70%;
                text-align: justify;
                font-size: 28px;
                border-top-left-radius: 30%;
                border-bottom-right-radius: 30%;
                padding: 10vh;
                box-shadow: 4px 4px 10px black, -4px -4px 10px black;
                opacity: 0;
                transition: all 1s ease;
                &__title {
                    width: 100%;
                    height: auto;
                    @include disfc();
                    font-size: 40px;
                }
            }
        }
        &__photoContainer {
            width: 100%;
            height: auto;
            @include disfc();
            &__photo {
                width: 70%;
            }
        }
    }
    &__ourServicesContainer {
        background: linear-gradient(to left, black 20%, #fdd100 80%);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 10px #fdd100, -4px -4px 10px black;
        padding: 6vh 0vh;
        &__title {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: end;
            &__prop {
                color: #b7b7be;
                padding-right: 15vh;
                padding: 0vh 15vh 4vh 0vh;
                font-size: 40px;
                opacity: 0;
                transition: all 1s ease;
            }
        }
        &__allServiceCardContainer {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 1vh;
            &__serviceCardContainer {
                width: 100%;
                height: auto;
                @include disfc();
                &__serviceCard {
                    background-color: #c9a908;
                    width: 50%;
                    height: auto;
                    border-radius: 2vh;
                    box-shadow: 4px 4px 10px #fdd100, -4px -4px 10px black;
                    padding: 8vh 4vh;  
                    transition: transform 0.5s ease-in-out; /* Duración de la transición */
                    opacity: 0;
                    transition: all 1s ease;
                    &:hover {
                        transform: scale(1.10);
                    }
                    &__imgContainer {
                        width: 100%;
                        height: auto;
                        @include disfc();
                        padding: 2vh 0vh;
                        &__img {
                            width: 30%;
                        }
                    }
                    &__title {
                        width: 100%;
                        text-align: center;
                        font-size: 35px;
                    }
                    &__text {
                        width: 100%;
                        height: auto;
                        @include disfc();
                        padding-top: 2vh;
                        &__prop {
                            width: 85%;
                            text-align: justify;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
    &__contactContainer {
        background: linear-gradient(to left, #b7b7be 10%, black 90%);
        width: 100%;
        height: auto;
        box-shadow: 4px 4px 10px #fdd100, -4px -4px 10px black;
        display: flex;
        flex-direction: column;
        padding: 6vh 0vh;
        &__title {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: end;
            &__prop {
                color: black;
                padding-right: 15vh;
                font-size: 40px;
                opacity: 0;
                transition: all 1s ease;
            }
        }
        &__allContactContainer {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 1vh;
            &__dataContainer {
                width: 100%;
                height: auto;
                @include disfc();
                border-right: 0.3vh solid black;
                &__data {
                    background-color: #b7b7be;
                    width: 60%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    border-top-left-radius: 50%;
                    border-bottom-right-radius: 50%;
                    padding: 10vh;
                    box-shadow: 4px 4px 10px black, -4px -4px 10px black;
                    opacity: 0;
                    transition: all 1s ease;
                    &__title {
                        font-size: 45px;
                        padding-bottom: 5vh;
                        text-align: center;
                    }
                    &__prop {
                        font-size: 22px;
                    }
                }
            }
            &__formContainer {
                width: 100%;
                height: auto;
                @include disfc();
                &__form {
                    width: 75%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    padding: 5vh 2vh;  
                    gap: 4vh;
                    &__phrase {
                        display: none;
                    }
                    &__item {
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 1vh 0vh;
                        &__left {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            gap: 1vh;
                            &__label {
                                font-size: 25px;
                            }
                            &__inputContainer {
                                width: 100%;
                                height: auto;
                                &__input {
                                    width: 90%;
                                    height: 35px;
                                    font-size: 25px;
                                    border-radius: 2vh;
                                    padding: 0.5vh;
                                }
                            }
                        }
                    }
                    &__msjContainer {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 2vh;
                        &__label {
                            font-size: 25px;
                        }
                        &__textAreaContainer {
                            width: 100%;
                            height: auto;
                            &__textArea {
                                width: 100%;
                                height: 150px;
                                font-size: 25px;
                                border-radius: 2vh;
                                padding: 0.5vh;
                            }
                        }
                    }
                    &__btnContainer {
                        width: 100%;
                        height: auto;
                        @include disfc();
                        padding-top: 2vh;
                        &__btn {
                            background: linear-gradient(to left, black 20%, #46464a 80%);
                            background-color: #46464a;
                            width: 50%;
                            height: auto;
                            font-size: 30px;
                            color: white;
                            padding: 1vh 0vh;
                            border: none;
                            border-radius: 2vh;
                            transition: transform 0.5s ease-in-out; /* Duración de la transición */
                            &:hover {
                                background: linear-gradient(to left, white 20%, white 80%);
                                color: black;
                                cursor: pointer;
                                transform: scale(1.10);
                            }
                        }
                    }
                }
            }
        }
    }
}

@import "header";
@import "footer";


@media (max-width: 480px) {
.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 12vh;
    &__homeContainerMobile {
        background-image: url('../img/girlrs.jpg');
        background-size: cover;
        width: 100%;
        height: auto;
        display: block;
        padding: 0vh 0vh 30vh 0vh;
        &__phraseContainer {
            background: linear-gradient(to right, #fdd100 20%, black 80%);
            width: 90%;
            height: auto;
            @include disfc();
            border-top-right-radius: 5vh;
            border-bottom-right-radius: 5vh;
            margin: 30vh 0vh 0vh 0vh;
            padding: 5vh 0vh;
            &__subPhraseContainer {
                background-color: black ;
                width: 80%;
                height: auto;
                @include disfc();
                border-radius: 5vh;
                opacity: 70%;
                padding: 4vh;
                &__phrase {
                    width: 100%;
                    font-size: 14px;
                    text-align: justify;
                    color: white;
                    opacity: 0;
                    transition: all 1s ease;
                }

            }
        }
    }
    &__homeContainer {
        display: none;
    }
    &__aboutContainer {
        background: linear-gradient(to left, #b7b7be 10%, black 90%);
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        padding: 5vh 0vh;
        &__textContainer {
            width: 100%;
            height: auto;
            @include disfc();
            border-right: none;
            &__text {
                background-color: #b7b7be;
                width: 100%;
                font-size: 18px;
                border-top-left-radius: 20%;
                border-bottom-right-radius: 20%;
                padding: 10vh 4vh;
                box-shadow: 4px 4px 10px black, -4px -4px 10px black;
                &__title {
                    width: 100%;
                    text-align: justify;
                    height: auto;
                    @include disfc();
                    font-size: 30px;
                }
            }
        }
        &__photoContainer {
            width: 100%;
            height: auto;
            @include disfc();
            &__photo {
                width: 50%;
            }
        }
    }
    &__ourServicesContainer {
        background: linear-gradient(to left, black 20%, #fdd100 80%);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 10px #fdd100, -4px -4px 10px black;
        padding-bottom: 10vh;
        &__title {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            padding-top: 2vh;
            &__prop {
                color: white;
                padding: 0vh;
                font-size: 25px;
            }
        }
        &__allServiceCardContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 5vh;
            gap: 5vh;
            &__serviceCardContainer {
                width: 100%;
                height: auto;
                @include disfc();
                &__serviceCard {
                    background-color: #c9a908;
                    width: 65%;
                    height: auto;
                    border-radius: 2vh;
                    box-shadow: 4px 4px 10px #fdd100, -4px -4px 10px black;
                    padding: 5vh 2vh;
                    &__imgContainer {
                        width: 100%;
                        height: auto;
                        @include disfc();
                        padding: 2vh 0vh;
                        &__img {
                            width: 30%;
                        }
                    }
                    &__title {
                        width: 100%;
                        text-align: center;
                        font-size: 20px;
                    }
                    &__text {
                        width: 100%;
                        height: auto;
                        @include disfc();
                        padding-top: 2vh;
                        &__prop {
                            width: 85%;
                            text-align: justify;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    &__contactContainer {
        width: 100%;
        height: auto;
        //box-shadow: 4px 4px 10px #fdd100, -4px -4px 10px black;
        //box-shadow: none;
        display: flex;
        flex-direction: column;
        padding: 5vh 0vh 7vh 0vh;
        //display: none;
        &__title {
            //background-color: #b7b7be;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            padding: 0vh 0vh;
            //animation: slideRight 2s ease-out forwards;
            &__prop {
                color: white;
                padding: 0vh;
                font-size: 30px;
            }
        }
        &__allContactContainer {
            //background-color: #b7b7be;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 0vh;
            gap: 0vh;
            &__dataContainer {
                //background-color: #b7b7be;
                width: 100%;
                height: auto;
                @include disfc();
                padding-top: 4vh;
                border-right: none;
                &__data {
                    //background-color: #b7b7be;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    border-top-left-radius: 20%;
                    border-bottom-right-radius: 20%;
                    padding: 5vh 0vh;
                    box-shadow: 4px 4px 10px black, -4px -4px 10px black;
                    &__title {
                        font-size: 25px;
                        padding-bottom: 4vh;
                        text-align: center;
                    }
                    &__prop {
                        text-align: center;
                        font-size: 15px;
                    }
                }
            }
            &__formContainer {
                width: 100%;
                height: auto;
                @include disfc();
                padding-top: 4vh;
                //display: none;
                &__form {
                    background-color: #b7b7be;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    border-top-left-radius: 15%;
                    border-bottom-right-radius: 15%;
                    padding: 5vh 2vh;  
                    box-shadow: 4px 4px 10px black, -4px -4px 10px black;
                    &__phrase {
                        font-size: 14px;
                        text-align: center;
                        display: block;
                    }
                    &__item {
                        //background-color: darkcyan;
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 1vh 0vh;
                        &__left {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            gap: 1vh;
                            &__label {
                                font-size: 14px;
                            }
                            &__inputContainer {
                                width: 100%;
                                height: auto;
                                &__input {
                                    width: 90%;
                                    height: 30px;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    &__msjContainer {
                        width: 100%;
                        height: auto;
                        &__label {
                            font-size: 15px;
                        }
                        &__textAreaContainer {
                            width: 100%;
                            height: auto;
                            &__textArea {
                                width: 100%;
                                height: 150px;
                                font-size: 15px;
                            }
                        }
                    }
                    &__btnContainer {
                        width: 100%;
                        height: auto;
                        @include disfc();
                        padding-top: 2vh;
                        &__btn {
                            background: linear-gradient(to left, black 20%, #46464a 80%);
                            background-color: #46464a;
                            width: 70%;
                            height: auto;
                            font-size: 25px;
                            color: white;
                            padding: 1vh 0vh;
                            border: none;
                            border-radius: 2vh;
                            transition: transform 0.5s ease-in-out; /* Duración de la transición */
                            &:hover {
                                background: linear-gradient(to left, white 20%, white 80%);
                                color: black;
                                cursor: pointer;
                                transform: scale(1.10);
                            }
                        }
                    }
                }
            }
        }
    }
}
}

//box-shadow: 4px 4px 10px black, -4px -4px 10px black;